<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InternetBankingV1">

	<listeners>
		<listener
			class-name="com.internetBanking.utilities.Reporting" />
	</listeners>
	
	<test thread-count="5" name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.internetBanking.testCases.TC_LoginTest_001"/>
				<class name="com.internetBanking.testCases.TC_LoginDDT_002" /> 
			<class name="com.internetBanking.testCases.TC_AddCustomerTest_003"/>
			
		
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
